<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Request Header Parser</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h2>Request Header Parser API</h2>
    <h3>Instructions: </h3>
    <p>Requests header information from the users system, returns:</p>
    <ol>
      <li>ip address</li>
      <li>preferred language</li>
      <li>software</li>
    </ol>

    <h3>Example Usage:</h3>
    <p>https://chazmcgrill-headerparser.glitch.me/api/whoami</p>

    <h3>Example Output:</h3>
    <p><code>{"ipaddress":"159.20.14.100","language":"en-US,<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code></p>
  </div>
  <footer>
    <p>coded by <a href="http://www.charlietaylorcoder.com/">charlie taylor</a></p>
  </footer>
</body>
</html>